* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameTable {
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(0,40,0);
    background-color: olivedrab;
    /* background-image: url('greenfelt.jpg'); */   
}

body {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#playerOne {
    position: absolute;
    bottom:0px;
    left:0px;
    right: 0px;
    height: 25%;
    border-top: 1px solid lightgrey;    
    
}

.card {
    z-index: 25;
}
.player .card.hidden:not(:first-of-type) {
    margin-left: -20px;
    margin-top: 10px;
    z-index: 20;
}
.player > .player-info {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.player-info > img {
    width:25px;
    padding-left: 2px;
    padding-right:2px;
    padding-top: 4px;
}
.player-info .player-name {
    text-align: center;
}
.player-purse {
    position: absolute;
    left:0px;
    bottom: 0px;
}
.purse-graphic {
    display: none;
}
.purse-value {
    background-color: rgba(255,255,255,0.45);

}
.purse-value:before {
    content: '$';
}
.player > .player-info > figure > img {
    width: 50px;
    height: 50px;
    border:1px solid #2b2b2b;
    background-color: darkslategray;
}
#playerTwo, #playerThree {
    border-right: 1px solid lightgrey;        
}
#playerTwo, #playerThree, #playerFour {
    display: block;
    position: absolute;
    top:0px;
    width:33.3%;
    height: 20%;
    border-bottom: 1px solid lightgrey;    
    font-size: 0.75em;
}
#playerTwo {
    left:0%;
}
#playerThree {
    left:33.3%;
}
#playerFour {
    left:66.6%;
}
#cardPool {
    position: absolute;
    top:20%;
    bottom:25%;
    left:0%;
    right: 0%;
}

#deck {
    position: absolute;
    left:0px;
    width: 50px;
}
#flop {
    position: absolute;
    top:0%;
    right:0%;
    height: 50%;
}
#turn-river {
    position: absolute;
    top:50%;
    right:0%;
    height: 50%;
}
#deck .card {
    background-color: red;
}
.card {
    display: block;
    float: left;
    width: 25px;
    height: 31px;
    box-shadow: 2px 2px 2px 2px #2b2b2b;
    margin:3px;
}
#playerOne .card, #cardPool .card {
    width:50px;
    height: 63px;
}

.card.hidden {
    background-color: lightcoral;
}

@media screen and (min-width: 768px) {
    .card {
        width:50px;
        height: 63px;
    }
}

@media screen and (min-width: 980px) {
    .card {
        width: 75px;
        height: 94px;
    }
}
/** START DESKTOP RESOLUTIONS **/
@media screen and (min-width: 1024px) {
    .card {
        width: 60px;
        height: 75px;
    }
    #deck, #flop, #turn-river {
        top:0%;
        bottom: 0%;
        width:33.33%;
        margin: auto 0;
    }
    #deck {
        text-align: center;
        left:0%;
    }
    #flop {
        text-align: right;
        left:33.33%;
    }
    #turn-river {
        text-align: left;
        right:0%;
        padding-left: 10px;
    }
    #cardPool .card {
        float: none;
        display: inline-block;
    }

}

@media screen and (min-width: 1920px) {
    .card {
        width: 75px;
        height: 94px;
    }
}